/* CSS for the Daily Update page **/

@-webkit-keyframes backgroundScroll {
	/**from {background-position: 0 0;}**/
	/**to {background-position: -1536px 0;}**/
	100% {
		background-position: -1536px 0;
	}
}

body {
	font-family: 'Noto Sans', sans-serif;
	background-image: url('https://www.filterforge.com/filters/11640.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat-x;
	-webkit-animation: backgroundScroll 60s linear infinite;
	animation: backgroundScroll 60s linear infinite;
}

h2 {
	margin: auto;
	width: 50%;
	color: white;
	text-align: center;
}

a {
	width: 100px;
	font-size: 18px;
	text-align: center;
	color: white;
	letter-spacing: 0.2px;
	cursor: default;
}

p {
	color: white;
	font-size: 18px; 
}

table {
	width: 100%;
	margin: auto;
	table-layout: fixed;
}

th {
	height: 75px;
	text-align: center;
	color: white;
	margin: auto;
}

tr {
	text-align: center;
	color: white;
	/**justify-content: center;**/
	margin: auto;
}

#current-weather-details, #travel-eta {
	margin: 5%;
	padding: 10px;
	width: 90%;
	height:700px;
	border-radius: 10px;
	/*display: flex;*/
	justify-content: center;
	align-content: space-around;
	text-align: center;
	flex-wrap: wrap;
	color: white;
	background-color: #000;
	opacity: 0.75;
}

#getWeather {
	background-color: #0f538b;
	color: white;
	border: none;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	font-family: 'Noto Sans', sans-serif;
}
